body{
	padding-top: 70px;
	padding-bottom: 70px
}


.sw-color-white{
	color: white;
}

.sw-full-width{
	width:100%;
}

.sw-90-width{
	width:90%;

}

a:hover{
	text-decoration: none;
}

.sw-left-padding{
	padding-left: 20px;
}

.sw-no-underline:hover{
	text-decoration: none;

}

.sw-right-border{
	border-right-style: solid;
}

.sw-gray{
	background-color: grey;
}
.sw-black{
	color: black;
}

.sw-absolute-right{
	position: absolute;
	right:15px;
}

.sw-front{
	z-index: 2;
}

