body{
	padding-top: 70px;
	padding-bottom: 70px;
}

.sw-color-white{
	color: white;
}

.sw-color-black{
	color: black;
}

.sw-bg-grey{
	background-color: #afafaf;
}

.sw-full-width{
	width: 100%;
}

.sw-95-width{
	width: 95%;
}

.sw-90-width{
	width: 90%;
}

.sw-50-width{
	width: 50%;
}

a:hover{
	text-decoration: none;
}

.sw-left-padding{
	padding-left: 20px
}

.sw-absolute-right{
	position: absolute;
	right: 15px;
}


.sw-button-to-a{
	background-color: transparent;
}

.sw-front{
	z-index: 5;
}

/*.animate-bottom {
	position: relative;
	animation: animatebottom 0.9s;
}

@keyframes animatebottom {
	from{left:-300px; opacity: 0;}
	to{left:0; opacity: 1;}
}*/

/*.animate-zoom{
	animation: animatezoom 0.4s;
}

@keyframes animatezoom{
	from{transform: scale(0.4); }
	to{transform: scale(0.3);}
}*/

.loading-iframe{
	background: url(https://loading.io/spinners/gears/lg.dual-gear-loading-icon.gif) center center no-repeat;
}

.loader {
	border: 18px solid #232830;
	border-top: 18px solid #f2f5f9;
	border-bottom: 18px solid #f2f5f9;
	border-right: 18px solid black;
	border-left: 18px solid grey;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}
