<nav class="navbar fixed-top navbar-light sw-bg-gray">
		<a class="sw-color-black" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new" class="sw-black"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-90-width">
			<a class="navbar-brand float-left"
			 routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"><b>Widget Image</b></a>
		</div>
		<button [disabled]="f.invalid" type="submit" form="widgetForm" class=" btn sw-button-to-a sw-black float-right"><i class="fas fa-check"></i></button>
	</nav>
	<div class="container-fluid">
		<form id="widgetForm" (ngSubmit)="update()" #f="ngForm">
			<div class="form-group">
				<label><b>Name</b></label>
				<input class="form-control" type="text" name="name" ngModel="{{widget.name}}" #name="ngModel" placeholder="Enter your widget name...">
			</div>
			<div class="form-group">
				<label><b>Text</b></label>
				<input class="form-control" type="text" name="text" ngModel="{{widget.text}}" #text="ngModel" placeholder="Enter your widget text...">
			</div>
			<div class="form-group">
				<label><b>URL</b></label>
				<input class="form-control" required ngModel="{{widget.url}}" #url="ngModel" type="text" name="url" class="form-control" placeholder="https://www.image.com">
			</div>
			<div class="alert alert-danger" *ngIf="url.invalid && url.touched">Url can't be empty!</div>
			<div class="form-group">
				<label><b>Width</b></label>
				<input class="form-control" required ngModel="{{widget.width}}" #width="ngModel" type="text" name="width" class="form-control" placeholder="100%">
			</div>
			<div class="alert alert-danger" *ngIf="width.invalid && width.touched">Width can't be empty!</div>
			<div class="form-group">
				<label><b>Upload</b></label>
				<input class="form-control" type="file" name="upload" placeholder="100%">
			</div>
			<div>
				<a class="btn btn-secondary btn-block" href="#">Upload Image</a>
			</div>
			<br>
			<div>
				<button class="btn btn-primary btn-block" routerLink="/user/:uid/website/:wid/page/:pid/widget">Submit</button>
				<button class="btn btn-danger btn-block" type="button" (click)="remove()">Delete</button>
			</div>
		</form>
	</div>
	<!-- footer -->
	<nav class="navbar navbar-dark sw-gray fixed-bottom">
		<div class="sw-width">
			<a class="sw-font-white float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
		</div>
	</nav>